<p>
	<span>
		<strong><%= comment.commenter %></strong>
	</span>

	<span>
		<%= comment.body %>
 	</span>

 	<span>
 		<%= link_to "Destroy Comment", 
 		[comment.article, comment], 
 		method: :delete, 
 		data: {comfirm: 'Are you sure bro?' } %>
</p>
